@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 0 0% 85.1%;
    --primary-foreground: 219.5 15.7% 47.5%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    color: #66738c;
  }
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.app-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.invoice-link {
  position: relative;
  z-index: 1;
  /* TODO: fix shadow design */
  box-shadow:
    5px 0 10px rgba(0, 0, 0, 0.2),
    -5px 0 10px rgba(0, 0, 0, 0.2);
}

.invoice-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 50px;
  background-color: inherit;
  transform: skew(40deg);
  transform-origin: top right;
  border-radius: 0.2rem;
  z-index: -1;
}

.invoice-inner-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.calender-time-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-height: 850px) {
  .invoice-display {
    height: 70vh;
  }
}
@media (max-height: 915px) {
  .invoice-create {
    padding-top: 0.5rem;
  }

  .invoice-create .services {
    height: 10rem;
  }

  .invoice-create .services table tr,
  .invoice-create .services table td {
    font-size: 0.7rem;
  }

  .invoice-create .services table tr input,
  .invoice-create .services table td input {
    font-size: 0.7rem;
  }

  .invoice-create .service-form {
    margin-top: 0.5rem;
  }

  .invoice-create .service-form select {
    font-size: 0.7rem;
    height: 1.5rem;
  }

  .invoice-create .service-form .checkbox input {
    width: 0.7rem;
    height: 0.7rem;
  }

  .invoice-create .service-form .checkbox label {
    font-size: 0.7rem;
  }

  .invoice-create .service-form button {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .invoice-create .payment h2 {
    font-size: 0.7rem;
  }

  .invoice-create .payment button {
    font-size: 0.6rem;
    padding: 0.3rem 1rem;
  }

  .invoice-create .payment .payment-table {
    margin-top: 0.2rem;
    height: 5rem;
  }

  .invoice-create .payment .payment-table tr,
  .invoice-create .payment .payment-table td {
    font-size: 0.6rem;
  }

  .invoice-create .payment .payment-table th,
  .invoice-create .payment .payment-table td {
    padding: 0.2rem 0.4rem;
  }

  .invoice-create .additional {
    height: 7rem;
    font-size: 0.8rem;
  }

  .invoice-create .form {
    margin-top: 0.4rem;
  }

  .invoice-create .form label {
    font-size: 0.7rem;
  }

  .invoice-create .form input {
    font-size: 0.7rem;
  }

  .invoice-create .form p {
    font-size: 0.7rem;
  }

  .invoice-create .form .form-divide {
    gap: 0.5rem;
  }

  .invoice-create .form .form-divide-input {
    gap: 0.4rem;
  }

  .invoice-create .form-head h2 {
    font-size: 0.8rem;
  }

  .invoice-create .form-head button {
    font-size: 0.6rem;
    padding: 0.3rem 0.8rem;
  }

  .invoice-create .invoice-to {
    height: 58%;
  }

  .invoice-create .vehicle {
    margin-top: 0.4rem;
    height: 40%;
  }
}

form {
  pointer-events: auto !important;
}
body {
  pointer-events: auto !important;
}

/* div[role="dialog"] {
  pointer-events: auto !important;
} */
html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
}

/* reporting pipeline chart css*/
.chart-container {
  @apply flex min-h-96 min-w-[550px] items-center justify-center rounded-lg border border-gray-300 bg-white px-2 py-5;
}

@media print {
  html,
  body {
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}