@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    color: #66738c;
  }
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.app-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.invoice-link {
  position: relative;
  z-index: 1;
  /* TODO: fix shadow design */
  box-shadow:
    5px 0 10px rgba(0, 0, 0, 0.2),
    -5px 0 10px rgba(0, 0, 0, 0.2);
}

.invoice-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 50px;
  background-color: inherit;
  transform: skew(40deg);
  transform-origin: top right;
  border-radius: 0.2rem;
  z-index: -1;
}

.invoice-inner-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.calender-time-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #006d77 !important;
}
.rmdp-panel-body li {
  background-color: #006d77 !important;
}
.rmdp-panel-body li .b-deselect {
  @apply px-1;
}

@media (max-height: 850px) {
  .invoice-display {
    height: 70vh;
  }
}
@media (max-height: 915px) {
  .invoice-create {
    padding-top: 0.5rem;
  }

  .invoice-create .services {
    height: 10rem;
  }

  .invoice-create .services table tr,
  .invoice-create .services table td {
    font-size: 0.7rem;
  }

  .invoice-create .services table tr input,
  .invoice-create .services table td input {
    font-size: 0.7rem;
  }

  .invoice-create .service-form {
    margin-top: 0.5rem;
  }

  .invoice-create .service-form select {
    font-size: 0.7rem;
    height: 1.5rem;
  }

  .invoice-create .service-form .checkbox input {
    width: 0.7rem;
    height: 0.7rem;
  }

  .invoice-create .service-form .checkbox label {
    font-size: 0.7rem;
  }

  .invoice-create .service-form button {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .invoice-create .payment h2 {
    font-size: 0.7rem;
  }

  .invoice-create .payment button {
    font-size: 0.6rem;
    padding: 0.3rem 1rem;
  }

  .invoice-create .payment .payment-table {
    margin-top: 0.2rem;
    height: 5rem;
  }

  .invoice-create .payment .payment-table tr,
  .invoice-create .payment .payment-table td {
    font-size: 0.6rem;
  }

  .invoice-create .payment .payment-table th,
  .invoice-create .payment .payment-table td {
    padding: 0.2rem 0.4rem;
  }

  .invoice-create .additional {
    height: 7rem;
    font-size: 0.8rem;
  }

  .invoice-create .form {
    margin-top: 0.4rem;
  }

  .invoice-create .form label {
    font-size: 0.7rem;
  }

  .invoice-create .form input {
    font-size: 0.7rem;
  }

  .invoice-create .form p {
    font-size: 0.7rem;
  }

  .invoice-create .form .form-divide {
    gap: 0.5rem;
  }

  .invoice-create .form .form-divide-input {
    gap: 0.4rem;
  }

  .invoice-create .form-head h2 {
    font-size: 0.8rem;
  }

  .invoice-create .form-head button {
    font-size: 0.6rem;
    padding: 0.3rem 0.8rem;
  }

  .invoice-create .invoice-to {
    height: 58%;
  }

  .invoice-create .vehicle {
    margin-top: 0.4rem;
    height: 40%;
  }
}

form {
  pointer-events: auto !important;
}
body {
  pointer-events: auto !important;
}

/* div[role="dialog"] {
  pointer-events: auto !important;
} */
html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
}

/* reporting pipeline chart css*/
.chart-container {
  @apply flex min-h-96 min-w-[550px] items-center justify-center rounded-lg border border-gray-300 bg-white px-2 py-5;
}

@media print {
  html,
  body {
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}

/* Custom scrollbar for elements with the class 'custom-scrollbar' */
.custom-scrollbar {
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  border-radius: 10px; /* Rounded scrollbar container */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* Light gray track background */
  border-radius: 10px; /* Fully rounded track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #a9a9a9,
    #808080
  ); /* Gray gradient thumb */
  border-radius: 12px; /* Fully rounded scrollbar */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #808080,
    #696969
  ); /* Darker gray on hover */
}

/* Scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #808080 #e0e0e0; /* Gray thumb and light gray track */
}

/* landing page css */
.text-gradient {
  @apply bg-gradient-to-r from-[#26AADF] to-[#01A79E] bg-clip-text text-transparent;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* width: 80%; */
  margin: auto;
  /* overflow: hidden; */
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.testimonial {
  flex: 1;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 45%;
  max-width: 45%;
}

.testimonial.active {
  transform: scale(1);
  z-index: 1;
}

.testimonial.inactive {
  transform: scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.nav-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #333;
}
